{{#if errorMessage}}
  <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form id="login-form" action="/login" method="post">
  <div class="form-group">
    <label for="email-input">Email address</label>
    <input type="email" class="form-control" id="email-input" name="email" required>
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input type="password" class="form-control" id="password-input" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>