<section class="bg-image vh-100" style="background-image: url('https://images.pexels.com/photos/7567444/pexels-photo-7567444.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-med-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text text-center mb-5">Signup</h2>
                            <form class="form signup-form">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="username-signup">Username:</label>
                                    <input class="form-control form-control-lg" type="text" id="username-signup" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="email-signup">Email:</label>
                                    <input class="form-control form-control-lg" type="email" id="email-signup" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password-signup">Password:</label>
                                    <input class="form-control form-control-lg" type="password" id="password-signup" />
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary btn-success btn-lg gradient-custom-4 text-body" type="submit">Signup</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/signup.js"></script>